<section id="ListaPeliculas">
    <div class="Contenido">
        <h1>Lista de peliculas</h1>
        <app-buscador></app-buscador>
        <ul class="lista">
            <li *ngFor="let pelicula of listapeliculas">
                <div class="pelicula">
                    <img class="imagen" src="../../../assets/img/img.png" alt="poster pelicula" [routerLink]="['/detalles']">
                    <div class="infopelicula">
                        <div class="titulo">{{pelicula?.title}}</div>
                        <div class="idiomas">idiomas: {{pelicula?.original_language}}</div>
                        <div class="popularidad">Popularidad: {{pelicula?.popularity}}</div>
                    </div>
                </div>
            </li>
        </ul>
        <button class="atras" [routerLink]="['']">Atrás</button>
    </div>
</section>