#Footer{
    background-color: #000;
    height: 8vh;

    p{
        color: #fff;
        text-align: center;
        padding: 1%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}