<app-navbar></app-navbar>
<section id="detalles">
    <div class="Contenido">
        <div class="img">
            <img src="../../img/img.png" alt="preview">
        </div>
        <h1>Titulo</h1>
        <h2>Genero</h2>
        <h2>Lenguaje Original</h2>
        <h2>Presupuesto</h2>
        <h2>Compañías de producción</h2>
        <h2>Popularidad</h2>
        <h2>Estado de la pelicula</h2>
        <h2>Fecha de lanzamiento</h2>
        <h2>Descripción (Overview)</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit nihil assumenda! Similique suscipit hic nesciunt? Iste architecto odio voluptas ipsum magnam vero facilis eos, repudiandae corporis ex inventore cumque?</p>
        <div class="btn">
            <button [routerLink]="['/reservas']">Reservar</button>
            <button>Favoritos</button>
        </div>   
        <button class="atras" [routerLink]="['']">Atrás</button> 
    </div> 
</section>
<app-footer></app-footer>
