#Navbar{
    background-image: linear-gradient(to bottom right, #2E9AFE,#0101DF);
    display: flex;
    flex-wrap: nowrap;
    height: 10vh;
    width: 100%;

    .logo{
        width: 50%;
        text-align: center;

        a{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-decoration: none;
            color: #000;
        }
    }

    .Menu{
        display: flex;
        list-style: none;
        width: 50%;

        li{ 
            display: inline-block;
            width: 50%;           

            a { padding: 5%;
                display: block;      
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
                text-decoration: none; 
                color: whitesmoke;
                text-align: center;}

            a:hover{
                color: #000;
                transition: all .3;

            }
        }
    }
}