<section id="ListaFavoritos">
    <div class="Contenido">
        <h1>Favoritos</h1>
        <app-buscador></app-buscador>
        <ul class="lista">
            <li *ngFor="let pelicula of listafavoritos">
                <div class="pelicula">
                    <img class="imagen" [src]="pelicula?.data?.poster_path" alt="poster pelicula" [routerLink]="['/detalles']">
                    <div class="infopelicula">
                        <div class="titulo">{{pelicula?.data?.title}}</div>
                        <div class="idiomas">{{pelicula?.data?.original_language}}</div>
                        <div class="popularidad">{{pelicula?.data?.popularity}}</div>
                    </div>
                </div>
            </li>
        </ul>
        <button class="atras" (click)="['']">Atrás</button>
    </div>
</section>
