.peliculas{
    background-image: linear-gradient(to bottom right, #2E9AFE,#0101DF);
    width: 80% auto;
    margin: 5vh 5vw;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;

    app-tarjetas{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}